<h1>Animals#show</h1>

<%= "Name: #{@animal.name}" %> <br>
<%= "Species: #{@animal.species} "  %> <br>
<%= "Dangerosity #{@animal.dangerosity.to_s}" %> <br>
<%= "Specific needs: #{@animal.needs}" %> <br>
