.card {
  border: none;
  box-shadow: 2px 2px 6px #c4c4c4;
  &:hover {
    box-shadow: 2px 2px 6px #777;
  }
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: 0px;
  border-radius: 0.25rem 0.25rem 0 0;
}

.card h2 {
  font-weight: 600;
  font-size: 1.4em;
  color: #fff;
  padding: 16px 6px;
  text-align: center;
  display: block;
  background-color: #00A5BD;
}

.card-body {
  font-size: 1.2em;
}

.card ul {
  padding-left: 1.25rem;
  margin-left: 0.6em;
}

.card li {
  line-height: 1.7em;
}

a.btn.btn-primary.rounded {
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #dfdfdf;
  color: #777;
  border-radius: 0px 0px 0.25rem 0.25rem;
  font-size: 1.2em;

  &:hover {
    background-color: #00A5BD;
    color: white;
  }
}

.justify-content-between {
  display: flex;
  padding: 6px;
}

.justify-content-between a.btn.btn-primary.rounded {
  margin: 6px;
  display: inline-block;
  width: 100%;
}

a.btn.btn-primary.rounded #delete :hover {
  background-color: #e5554f;
}

